@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}


body {
  font-family: 'Roboto Condensed', sans-serif !important;
  /* margin: 0 !important; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/************ NAVBAR ************/
.navbar {
  padding-top: 0 !important;
  z-index: 2;
}

.navbar img {
  width: 18.75rem;  /* 300px */ 
  /* height: auto; */
}

@media (max-width: 768px) {
  .navbar img {
    width: 12.5rem; /* 200px */
  }
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: .6px;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin: 0 .75rem;
  border-top: 3px solid var(--primary-dark);  /* to get rid of the jumping when active / focused */
}
.navbar-nav > li > a:hover {
  color: var(--primary-orange) !important;
}
/* .navbar-nav .nav-link {
  color: var(--primary-white) !important;
  margin: 0 .75rem;
} */
/* .navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */
/* .navbar-nav .nav-link:hover {
  color: orangered !important;
} */
.navbar-nav > li > a.active, 
.navbar-nav > li > a:focus {
  /* color: orangered !important; */
  border-top: 3px solid var(--primary-orange);
}

.fa-bars {
  color: var(--primary-white);
}


/************ HEADER ************/
.header-wrapper {
  position: relative;
  /* background: url('./assets/images/workdesk1.jpg') no-repeat; */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./assets/images/workdesk1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/* @media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}
 */

/************ TYPED TEXT ************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}


/************ HEADER MAIN OFFER BUTTON ************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  /* padding: 10px 12px 12px 12px; */
  padding: .625rem .75rem .75rem .75rem;
  color: var(--primary-white);
  text-decoration: none;
  margin: 2rem;
  z-index: 2;
}
.btn-main-offer:hover {
  text-decoration: none;
  background: var(--primary-hover-red);
  color: var(--primary-white);
  /* font-size: 1.1rem;
  font-weight: 700; */
  transition: .2s ease-in-out;
}

/************ PARTICLE JS************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}